MONGODB_URI=mongodb+srv://YOUR_USER:YOUR_PASSWORD@cluster0.mongodb.net/gympro?retryWrites=true&w=majority
NEXTAUTH_SECRET=change-this-to-a-random-32-char-string
NEXTAUTH_URL=http://localhost:3000
GMAIL_USER=your-gmail@gmail.com
GMAIL_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
CRON_SECRET=your-cron-secret-key
